db.sqlite3
migrations/__pycache__
customer/migrations/__pycache__
shopping/migrations/__pycache__
contact/migrations/__pycache__
store/migrations/__pycache__
store/__pycache__
api/
.gitignore
store/__pycache__/
.vscode
